.home {
  
  width: 100%;
  min-height: calc(100vh - 14vh);
  padding:0 4rem 4rem 4rem;
}
.home .intro-bg{
  height: 541px;
  background: url('../../assets/home/desktop/image-hero-coffeepress.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
 
}
.home .intro-info{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4rem;
  font-family: 'Fraunces';
  color: var(--white);
}
.home .intro-info h1{
  font-size:4rem ;

}
.home .intro-info p{
 font-family: 'PT+Sans', sans-serif;
 line-height: 1.5;
 color: var(--grey);
}
.home .intro-info .link-btn{
  width: 197px;
  height: 51px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--cyan);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.home .intro-info .link-btn:hover{
background-color: var(--coffee-brown);
color: var(--darker-cyan);
}