.nav {
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
   padding: 0 4rem;
}
.nav-wrapper .link{
text-decoration: none;
margin-right: 1rem;
font-size: 0.9rem;
text-transform: uppercase;
transition: all 0.4s ease-in-out;
}
.nav-wrapper .link:hover{
  padding: 0.5rem 1rem;
  background-color:var(--coffee-brown) ;
  font-weight: 700;
}


